@font-face {
  font-family: 'digital';
  src: url('fonts/digital-webfont.eot');
  src: url('fonts/digital-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/digital-webfont.woff2') format('woff2'),
       url('fonts/digital-webfont.woff') format('woff'),
       url('fonts/digital-webfont.ttf') format('truetype'),
       url('fonts/digital-webfont.svg#digital') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: "Arial", "Helvetica", sans-serif;
  -webkit-user-select: none;
}

#ecran-blanc{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fefefe;
  opacity: 0.5;
  z-index: 9999;
}

#commandes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
  background-color: #d52034;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 5px;
}

#zone-action {
  display: flex;
  height: 90%;
  width: 100%;
}

#zone-gauche {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#consigne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background-color: #d52034;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.consigne {
  font-size: 2vmin;
  text-transform: uppercase;
}

.titre-consigne {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 3vmin;
}

.renvoi {
  font-size: 1.5vmin;
  font-style: italic;
  text-transform: none;
}

#reserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  background-color: #4c677e;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 10px;
  border-right-width: 5px;
  border-bottom-width: 10px;
}

#zone-droite {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zone-objets {
  display: flex;
  justify-content: space-around;
  align-items: center;;
  height: 30%;
  width: 96%;
  box-sizing: border-box;
  border-color: #d52034;
  border-style: solid;
  border-width: 8px;
}

#nom-objet {
  width: 30%;
  text-align: center;
  font-size: 3vmin;
}

#image-objet {
  height: 98%;
  display: flex;
  align-items: center;
}

#prix-objet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  background-image: url(img/afficheur.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

#montant {
  font-family: 'digital';
  font-size: 4vmin;
  color:yellow;
  font-weight: bold;
}

#image-achat {
  width: 100%;
}

#receptacle {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
	height: 70%;
  width: 100%;
  padding: 0 5%;
  background-color: white;
  background-image: url(img/comptoir.png);
  background-position: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 5px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

#receptacle .draggable {
  margin-bottom: 3%;
}

#choix-niveau {
  z-index: 99999;
  height: 50%;
  width: 35%;
  min-width: 200px;
  position: fixed;
  left: 35%;
  top: 10%;
  justify-content: center;
  align-items: center;
}

#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color:yellow;
  padding: 0 2% 2% 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.btform {
  text-align: center;
}

.titre {
  font-weight: bold;
  font-size: 1.2em;
}

.draggable {
  /* width: 20%; */
  margin-right: 2%;
  width: 20%;
  height: 35%;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: 100% 100%;
  border: 5px transparent solid;
}

.draggable:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.consigneVisible {
  display: inline;
}

.centre {
  text-align: center;
}

.tooltip {
  position: absolute;
  background: #1d1d1d;
  border-radius:4px;
  padding: 6px 12px;
  font-family: arial;
  font-size: 12px;
  text-shadow: 0px 1px 1px #000;
  color: white;
  z-index: 9999;
}

.tooltip:before {
  content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1d1d1d;
  position:absolute;
  bottom:-5px;
  left:5px;
}

@media screen and (max-aspect-ratio: 14/11)  {
  .div-texte {
    top: 56%;
  }
}
@media screen and (max-aspect-ratio: 34/43)  {
  .div-texte {
    top: 54%;
  }
}
@media screen and (min-aspect-ratio: 13/6)  {
  .div-texte {
    font-size: 3vmin;
    height: 4vmin;
  }
}
@media screen and (min-aspect-ratio: 23/6)  {
  #consigne {
    display: none;
  }
  #locomotive {
    width: 10.3%;
  }
  .draggable {
    width: 8%;
  }
  .espace {
    width: 0.86%
  }
}