.btcommande {
  box-sizing: border-box;
  padding:6px;
  margin: 3px 4px;
  font:bold 2vmin Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	/* width:100px; */
  border:1px solid #ccc;
  cursor: pointer;
}

.btcommande:hover {
  background: #d0d0d0;
}

.btcommande:disabled {
  opacity:0.5;
  cursor: not-allowed;
}

.consigne {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 2vmin;
}